dataset
.history
.venv
**checkpoint.ipynb

# ignore vs code files
.vscode

# exclude release folder
releases/

# exclude tensorboard logs
**/tensorboard_logs/**

# python compiled files
*.pyc

# ignore the models
**.hdf5
**/model
/retinanet_kuzushiji/models/**


# ignore fonts
/fonts/**