tensorflow==2.5.0
tensorflow-model-optimization
bitstring==3.1.7
elasticdeform==0.4.9
https://github.com/CaptainDario/ETLCDB_data_reader/releases/download/v2.1.4/etl_data_reader_CaptainDario-2.1.4-py3-none-any.whl
fonttools==4.24.4
matplotlib==3.4.2
numpy==1.19.5
Pillow==8.2.0
scipy==1.7.0
tensorboard==2.5.0
tqdm==4.61.1
